@font-face
{
  font-family: 'Raleway';
  src: url(/users/mathmiko/desktop/reservia/raleway-2/raleway-variablefont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal; /* Safari, Android, iOS */
}

@font-face
{
  font-family: 'Bold';
  src: url(/users/mathmiko/desktop/reservia/Raleway-2/Raleway-Bold.ttf) format('truetype');
}
/*Body*/

body 
{
	max-width: 1440px;
	font-family: 'Raleway', Arial, serif;
}

#bloc_page
{
    max-width: 1440px;
    max-height: 1860px;
    margin: auto;
}

/* Navigation */

#menu
{
  font-family: 'Raleway', Arial, serif;
  float: right;
  justify-content: flex-end;
}
nav
{
    margin-top: 20px;
}

nav ul
{
    list-style-type: none;
}
nav li
{
	margin-right: 35px;
    font-family: 'Raleway', Arial, serif;
    display: inline;
}

nav a
{
    font-size: 1.1em;
    color: black;
    text-decoration: none;
}

nav a:hover
{
    color: #0065FC;
    border-top: 1.2px solid #0065FC;
    padding-top: 2.2em;
}
nav strong
{
    color: #0065FC;
}

/*en-tête*/

header
{
    display: flex;
    justify-content: space-between;
}
header h1
{
    font-size: 1.5em;
    font-family: 'Bold', Arial, serif;
}
header p
{
    font-family: 'Raleway', Arial, serif;
    font-size: 0.95em;
    margin-bottom: 30px;
}

#logo
{
  margin-top: 15px;
}

/* Plus d'informations */

#info
{
	color: #FFFFFF;
	background-color: #0065FC;
	font-size: 25px;
	border: 2px #F2F2F2 solid;
	border-radius: 22px 22px 22px 22px;
	margin-right: 15px;
}

p
{
	font-family: 'Raleway', Arial, serif;
	margin-bottom: 35px;
	margin-top: 15px;
}

/* Bouton de recherche */

#mrs
{
	display: flex;
	justify-content: flex-start;
	height: 70px;
	width: 500px;
	font-family: 'Bold';
}

#map
{
	height: 46px;
	width: 50px;
	border: 1px #F2F2F1 solid;
	border-radius: 20px 0px 0px 20px;
	background-color: #F2F2F2;
	text-align: center;
	font-size: 22px;
}

#loc
{
	margin-top: 10px;
}

#marecherche
{
	background-color: #FFFFFF;
	border: 1px #F2F2F2 solid;
	font-family: 'Bold', Arial, serif;
	font-size: 20px;
	height: 46px;
	width: 250px;
	text-align: left;
}

input
{
	margin-left: 10px;
	height: 45px;
	width: 240px;
	font-size: 20px;
	font-family: 'Bold', Arial, serif;
	color: black;	
	border: hidden;
	text-decoration-color: blue;
}

#chercher
{
	color: #FFFFFF;
	background-color: #0065FC;
	border: 1px rgb(254,254,254) solid;
	border-radius: 0px 20px 20px 0px;
	height: 48px;
	width: 140px;
	font-family: 'Bold';
	font-size: 18px;
}

/*Filtres*/

#bloc1
{
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: left;
}

i#eco
{
	font-size: 18px;
	color: #0065FC;
	margin-top: 8px;
}
i#eco1
{
	font-size: 18px;
	color: #0065FC;
	margin-top: 8px;
}
i#eco2
{
	font-size: 18px;
	color: #0065FC;
	margin-top: 8px;
}
i#eco3
{
	font-size: 18px;
	color: #0065FC;
	margin-top: 8px;
}
#elem2:hover
{
	background-color: #F2F2F2;
}
#elem3:hover
{
	background-color: #F2F2F2;
}
#elem4:hover
{
	background-color: #F2F2F2;
}
#elem5:hover
{
	background-color: #F2F2F2;
}

.rond
{
    border: 11px rgb(221,236,254) solid;
	background-color: rgb(221,236,255);
	border-radius: 50%;
	margin-right: 10px;
}

.rond1
{
    border: 11px rgb(221,236,254) solid;
	background-color: rgb(221,236,255);
	border-radius: 20px 20px 20px 20px;
	border-left-width: 15px;
	border-right-width: 15px;
	margin-right: 10px;
}

.rond2
{
    border: 11px rgb(221,236,254) solid;
	background-color: rgb(221,236,255);
	border-radius: 20px 20px 20px 20px;
	margin-right: 10px;
	border-left-width: 14px;
	border-right-width: 14px;
}

.rond3
{
    border: 11px rgb(221,236,254) solid;
	background-color: rgb(221,236,255);
	border-radius: 20px 20px 20px 20px;
	border-left-width: 12px;
	border-right-width: 12px;
	margin-right: 10px;
}

#ele1
{
	font-size: 16px;
	margin-top: 10px;
	font-family: 'Bold';
	margin-right: 25px;
}

#elem2
{
	color: black;
	background-color: #FFFFFF;
	border: 2px #F2F2F2 solid;
	font-family: 'Bold';
	font-size: 16px;
	border-radius: 20px;
	width: 160px;
	height: 35px;
	margin-right: 25px;
}

#elem3
{
	color: black;
	background-color: #FFFFFF;
	border: 2px #F2F2F2 solid;
	font-family: 'Bold';
	font-size: 16px;
	border-radius: 20px;
	width: 140px;
	height: 35px;
	margin-right: 25px;
}

#elem4
{
	color: black;
	background-color: #FFFFFF;
	border: 2px #F2F2F2 solid;
	font-family: 'Bold';
	font-size: 16px;
	border-radius: 20px;
	width: 170px;
	height: 35px;
	margin-right: 25px;
}

#elem5
{
	color: black;
	background-color: #FFFFFF;
	border: 2px #F2F2F2 solid;
	font-family: 'Bold';
	font-size: 16px;
	border-radius: 20px;
	width: 220px;
	height: 35px;
	margin-right: 25px;
}

/* Hébergements */

section
{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

section h3, strong
{
    font-family: 'Bold';
}

#first
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #F2F2F2;
	border-radius: 20px;
	width: 64%;
	height: 71%;
	margin-bottom: 20px;
}

#colonnes
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 2%;
}

#hébergements
{
	margin-left: 30px;
	margin-top: 40px;
	text-align: left;
	font-family: 'Bold';
}

.hotel
{
	width: 270px;
	height: 150px;
	border-radius: 25px 25px 0px 0px;
}

.box
{
    border: 5px rgb(254,254,254) solid;
	background-color: #FFFFFF;
	border-radius: 25px 25px 25px 25px;
	border-bottom-width: 25px;
	display: inline-block;
	text-decoration: none;
	list-style-type: none;
	color: black;
	margin-bottom: 25px;
	box-shadow: 3px 3px 3px rgb(235,235,235);
}

.box i
{
    color: #0065FC;
}

#gris
{
    color: #F2F2F2;
}

#gris1
{
    color: #F2F2F2;
}
#gris2
{
    color: #F2F2F2;
}
#gris3
{
    color: #F2F2F2;
}
#gris4
{
    color: #F2F2F2;
}

#affiche
{
	margin-left: 50px;
	font-size: 21px;
	margin-bottom: 20px;
}

/* Les plus populaires */

#second
{
	display: inline-block;
	flex-direction: column;
	flex-wrap: wrap;
	width: 420px;
	height: 880px;
	background-color: #F2F2F2;
	border-radius: 20px;
	padding-top: 20px;
}

#populaires
{
	margin-left: 40px;
	font-size: 24px;
	margin-bottom: 50px;
	font-family: 'Bold';
}

#ligne
{
	font-size: 25px;
	float: right;
	margin-right: 40px;
}

#aside
{
	margin-left: 25px;
}

.pop
{
    width: 170px;
	height: 190px;
	border-radius: 25px 0px 0px 25px;
	float: left;
	margin-right: 15px;
}

a.test
{
	width : 330px;
	height: 190px;
    border: 2px rgb(254,254,254) solid;
	background-color: white;
	border-radius: 25px 25px 25px 25px;
	border-right-width: 40px;
	display: inline-block;
	overflow: visible;
	text-decoration: none;
	list-style-type: none;
	color: black;
	margin-bottom: 55px;
	box-shadow: 3px 3px 3px rgb(235,235,235);
}
.test i
{
    color: #0065FC;
}

#gris5
{
    color: #F2F2F2;
}

#gris6
{
    color: #F2F2F2;
}

/*Activités*/

article
{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

article h2
{
	font-family: 'Bold';
}
article p
{
	font-family: 'Bold';
	margin-left: 20px;
}

#acti
{
	display: flex;
	flex-wrap: wrap;
}

#activités
{
	margin-top: 50px;
	margin-left: 40px;
}

a.acti1
{
	width: 320px;
	height: 438px;
	border: 2px rgb(254,254,254) solid;
	background-color: white;
	border-radius: 25px 25px 25px 25px;
	border-bottom-width: 55px;
	text-decoration: none;
	list-style-type: none;
	color: black;
	font-size: 17px;
	margin-left: 30px;
	box-shadow: 2px 2px 2px #F2F2F2;
	display: inline-block;
}

#img1
{
	width: 320px;
	height: 440px;
	border-radius: 25px 25px 0px 0px;
}

a.acti2
{
	width: 300px;
	height: 210px;
    border: 2px rgb(254,254,254) solid;
	background-color: white;
	border-radius: 25px 25px 25px 25px;
	border-bottom-width: 55px;
	text-decoration: none;
	list-style-type: none;
	color: black;
	font-size: 17px;
	box-shadow: 2px 2px 2px #F2F2F2;
	margin-left: 30px;
	display: inline-block;
	margin-bottom: 20px;
}

#img2
{
	width: 300px;
	height: 210px;
	border-radius: 25px 25px 0px 0px;
}
a.acti3
{
	width: 300px;
	height: 150px;
    border: 2px rgb(254,254,254) solid;
	background-color: white;
	border-radius: 25px 25px 25px 25px;
	border-bottom-width: 55px;
	text-decoration: none;
	list-style-type: none;
	color: black;
	font-size: 17px;
	box-shadow: 2px 2px 2px #F2F2F2;
	margin-left: 30px;
	display: inline-block;
}

#img3
{
	width: 300px;
	height: 150px;
	border-radius: 25px 25px 0px 0px;
}

.ajustement
{
	width: 320px;
	height: 500px;
}

a.acti4
{
	width: 320px;
	height: 438px;
    border: 2px rgb(254,254,254) solid;
	background-color: white;
	border-radius: 25px 25px 25px 25px;
	border-bottom-width: 55px;
	text-decoration: none;
	list-style-type: none;
	color: black;
	font-size: 17px;
	box-shadow: 2px 2px 2px #F2F2F2;
	margin-left: 30px;
	display: inline-block;
}

#img4
{
	width: 320px;
	height: 440px;
	border-radius: 25px 25px 0px 0px;
}

a.acti5
{
	width: 320px;
	height: 180px;
    border: 2px rgb(254,254,254) solid;
	background-color: white;
	border-radius: 25px 25px 25px 25px;
	border-bottom-width: 55px;
	text-decoration: none;
	list-style-type: none;
	color: black;
	font-size: 17px;
	box-shadow: 2px 2px 2px #F2F2F2;
	margin-left: 30px;
	display: inline-block;
	margin-bottom: 20px;
}

#img5
{
	width: 320px;
	height: 180px;
	border-radius: 25px 25px 0px 0px;
}

a.acti6
{
	width: 320px;
	height: 180px;
    border: 2px rgb(254,254,254) solid;
	background-color: white;
	border-radius: 25px 25px 25px 25px;
	border-bottom-width: 55px;
	text-decoration: none;
	list-style-type: none;
	display: inline-block;
	color: black;
	font-size: 17px;
	box-shadow: 2px 2px 2px #F2F2F2;
	margin-left: 30px;
	display: inline-block;
}

#img6
{
	width: 320px;
	height: 180px;
	border-radius: 25px 25px 0px 0px;
}

/*pied de page*/

footer
{
	display: flex;
	flex-wrap: wrap;
	background-color: #F2F2F2;
	list-style-type: none;
	margin-top: 30px;
}

footer li
{
    list-style-type: none;
    padding-top: 15px;
    margin-left: 10px;
    margin-right: 190px;
    font-family: 'Raleway'
}

#pos
{
    font-family: 'Bold';
    font-size: 18px;
}

#heb
{
    font-family: 'Bold';
    font-size: 18px;
}

#assi
{
    font-family: 'Bold';
    font-size: 18px;
}
